:root {
    --ratio: 3.74;
    --cta-color: rgb(0, 102, 254);
    --light-color-bg: rgb(238, 241, 247);
    --dark-color-bg: rgb(55, 65, 81);
    --grey-color: rgb(107, 114, 128);
    --leading: 0.025em;
  }

button {
    display: block;
    margin-top: 2rem;
    width: calc(44px * var(--ratio));
    height: 44px;
    border-radius: calc(3px * var(--ratio));
    border: var(--default-border);
    letter-spacing: ccalc(3 * var(--leading, 0.025em));
    font-family: inherit;
    color: var(--dark);
    background-color: var(--med-light);
    font-size: large;
    font-weight: 700;
  }
  
  button:focus {
    /* outline: none;
    border: 0.0625rem solid transparent; */
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
  }
  
  button.cta {
    background-color: var(--dark);
    color: white;
  }
  
  button.cta:focus {
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
  }

button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--med-dark);
}
  
  #open_dialog {
    margin: 0 auto;
  }
  
  dialog {
    /* border: none !important; */
    border: 3px solid var(--dark);
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
    z-index: 2;
    position: absolute;
    margin: auto;
    background-color: var(--light);
  }

  dialog::backdrop{
    backdrop-filter: blur(5px);
}
  
  dialog img {
    display: block;
    max-width: 75%;
    margin: 1rem 0 auto 2rem;
  }
  
  .h1 {
    margin: 2rem 0 1rem;
    font-weight: 900;
  }
  
  .h2 {
    margin: 2rem 0 1rem;
    font-weight: 800;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex.flex-space-between {
    justify-content: space-between;
  }
  
  .flex button {
    margin: 8px auto;
  }

input {
    display: block;
    width: 95%;
    height: 3em;
    border-radius: 10px;
    margin: 1px auto;
    border: var(--default-border);
    padding: 3px;
}


input:valid {
  background-color: #c3ffc3;
}

input:invalid {
  background-color: #ffc3c3;
}