@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: var(--dark);
}

:root {
  --light: #f2c9f3;
  --dark: #340030;
  --med-dark: #67005e;
  --med-light: #d879d1;
  --default-border: 3px solid var(--dark);
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

body {
  background-color: var(--light);
}

main {
  width: 80%;
  margin: auto;
  position: relative;
}

nav {
  background-color: var(--med-dark);
  box-sizing: border-box;
  /* height: 100px; */
  /* line-height: 100px; */
  /* border-radius: 0 0 20px 20px; */
  /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
  color: #fff;
  /* margin: auto; */
  line-height: 80px;
  width: 100%;
  /* position: relative; */
  border: 3px solid var(--dark);
  border-top: 0px;
}

#logo-img {
  height: 30px;
  width: auto;
}

#logo {
  display: inline-block;
  font-size: 28px;
  padding: 0 30px;
  text-shadow: 0 2px 10px var(--dark);
  color: var(--light);
}

nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding: 0 15px;
  top: 0;
  text-shadow: 0 2px 5px #000;
  color: var(--light);
}

.navitem a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.navitem:hover {
  text-shadow: 0 2px 5px #fff;
}

.navitem a:active {
  color: var(--med-light);
}

#banner {
  width: 100%;
  height: 300px;
  background-color: var(--dark);
  background-image: url(../img/food_medium.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  border: var(--default-border);
  border-top: 0 none;
  border-radius: 0 0 20px 20px;
}

.info {
  /* height: 400px; */
  /* position: absolute; */
  position: relative;
  /* top: 300px; */
  /* bottom: 0; */
  background-color: var(--med-light);
  width: 100%;
  float: inline-end;
  border-radius: 25px;
  border: 3px solid var(--dark);
  background: var(--med-light) url(../img/salad-bg.svg);
}

.info-pic {
  width: 20%;
  min-width: 200px;
  height: auto;
  float: left;
  /* padding: 30px; */
  margin-right: 20px;
  border-radius: 50px;
  border: 3px solid var(--dark);
}

.info p {
  margin: 0 10px;
}

#info-content {
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#tomato {
  width: 100px;
  height: auto;
  position: absolute;
  right: 5%;
  top: -50px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--med-dark);
  height: 40px;
  text-align: center;
  line-height: 35px;
  color: var(--light);
  border-top: 3px solid var(--dark);
  padding: auto;
}

@media only screen and (max-width: 800px) {
  main {
    width: 100%;
  }

  nav,
  #banner,
  .info {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    border: none;
  }

  .navitem {
    width: 100%;
    background: var(--dark);
    border-bottom: 3px solid var(--med-dark);
  }

  .navitem:hover {
    background: var(--med-light);
    color: var(--dark);
  }

  .navitem a {
    width: 100%;
  }

  #tomato {
    display: none;
  }

  .info-pic {
    display: none;
  }

  .info h2 {
    margin: 10px;
  }
}

@media only screen and (min-width: 1600px) {
  #banner {
    background-image: url(../img/food.jpeg);
  }
}
